<form class="contents" [formGroup]="form">
  <fieldset
    class="grid gap-6 h-dvh place-content-center snap-center timeline-view animation-range-end-contain animation-range-start-0 animate-fade-in-scale">
    <legend class="text-2xl contents">Every great journey starts with a name among the stars.</legend>
    <label
      class="place-self-center leading-0 w-min focus-within:outline-2 outline-offset-6 focus-within:outline-offset-1 input rounded-full outline-surface-4">
      <mat-icon
        class="!size-32 rounded-full cursor-pointer opacity-80 hover:opacity-100 transition-opacity"
        svgIcon="Astronaut"></mat-icon>

      <input type="file" class="sr-only" accept="image/png" [formControl]="form.controls.image" />
    </label>

    <label class="group/field">
      <span class="group-has-required/field:after:content-['_*'] after:text-red-500">Full Name</span>
      <input type="text" [formControl]="form.controls.full_name" placeholder="Israel Israeli" class="input" />
    </label>

    <label class="group/field">
      <span class="group-has-required/field:after:content-['_*'] after:text-red-500">Date Of Birth</span>
      <input type="date" [formControl]="form.controls.date_of_birth" class="input" />
    </label>

    <a [routerLink]="[]" fragment="info" class="button button__light justify-self-end">Continue</a>
  </fieldset>

  <fieldset
    id="info"
    class="grid gap-6 h-dvh place-content-center snap-center timeline-view animation-range-end-contain animation-range-start-0 animate-fade-in-scale">
    <legend class="text-2xl contents">Tell us where you’re from—every explorer brings a unique world with them.</legend>
    <label class="group/field"
      ><span class="group-has-required/field:after:content-['_*'] after:text-red-500">Email</span>
      <input type="email" [formControl]="form.controls.email" class="input" />
    </label>
    <label class="group/field"
      ><span class="group-has-required/field:after:content-['_*'] after:text-red-500">Phone</span>
      <input type="text" [formControl]="form.controls.phone_number" class="input" />
    </label>

    <label class="group/field"
      ><span class="group-has-required/field:after:content-['_*'] after:text-red-500">City or Region</span>
      <input type="text" [formControl]="form.controls.city_region" class="input" />
    </label>

    <a [routerLink]="[]" fragment="personal" class="button button__light justify-self-end">Continue</a>
  </fieldset>

  <fieldset
    id="personal"
    class="grid gap-6 h-dvh place-content-center snap-center timeline-view animation-range-end-contain animation-range-start-0 animate-fade-in-scale">
    <legend class="contents text-2xl italic">
      <span class="block">What lights you up? </span><span>Share the passion that makes you mission-ready.</span>
    </legend>
    <label class="group/field"
      ><span class="group-has-required/field:after:content-['_*'] after:text-red-500">Hobbies</span>
      <input type="text" [formControl]="form.controls.hobbies" class="input" />
    </label>
    <label class="group/field">
      <span class="group-has-required/field:after:content-['_*'] after:text-red-500">Reason</span>
      <textarea [formControl]="form.controls.personal_statement" class="input"></textarea>
    </label>
    <button type="submit" class="button button__bold place-self-center capitalize">Send</button>
  </fieldset>
</form>
