<main class="grid gap-2 p-4">
  <h1 class="text-4xl font-bold">Houston, we have a problem…</h1>
  <p>Page not found.</p>
</main>

<picture>
  @if (colorScheme.theme() === 'dark') {
    <source srcset="deserted-astronaut-dark.avif" type="image/avif" />
    <source srcset="earth.webp" type="image/webp" />
  } @else {
    <source srcset="deserted-astronaut.avif" type="image/avif" />
    <source srcset="earth-light.webp" type="image/webp" />
  }

  <img
    alt=""
    class="object-contain size-[50vw] scale-150 mix-blend-darken dark:mix-blend-lighten dark:contrast-100 mask-radial-at-center mask-radial-from-0% mask-radial-to-50% contrast-200" />
</picture>
