<form
  [formGroup]="form()"
  class="grid gap-4"
  (submit)="submit()"
>
  <iisa-astronaut-identity class="contents"></iisa-astronaut-identity>
  <iisa-communication-protocols class="contents"></iisa-communication-protocols>
  <iisa-personal-orbit class="contents"></iisa-personal-orbit>
  <iisa-personal-statement class="contents"></iisa-personal-statement>

  <section class="flex gap-2">
    <button
      type="submit"
      class="button button__bold place-self-center capitalize"
      [class.opacity-50]="form().invalid"
    >
      Save Changes
    </button>

    <a
      routerLink=""
      class="button button__light place-self-center capitalize"
    >
      Cancel
    </a>
  </section>
</form>
