<aside class="grid gap-4 place-content-start">
  @if (!applicant().avatar) {
    <mat-icon
      class="!size-34"
      svgIcon="Astronaut"
    ></mat-icon>
  } @else {
    <img
      [src]="applicant().avatar"
      alt=""
      class="size-34 border-8 border-current object-cover rounded-full"
    />
  }

  <q class="block italic md:text-2xl line-clamp-3">
    {{ applicant().personal_statement || 'Reason for joining: classified… or just forgotten.' }}
  </q>
  <span class="font-light italic">{{ applicant().full_name }}'s Personal Statement</span>
</aside>

<main class="grid gap-4 auto-fill-[300px] auto-cols-fr content-baseline relative">
  <header class="col-span-full">
    <h1 class="text-3xl font-bold">
      {{ applicant().full_name }}
    </h1>
    <p>{{ applicant().age }} years old, from {{ applicant().city_region }}.</p>
  </header>

  <section>
    <h2 class="text-xl font-bold">Hobbies</h2>
    <ul class="list-inside flex flex-wrap gap-2">
      @for (hobby of applicant().hobbies; track hobby) {
        <li class="px-2 py-1 rounded-xl border border-surface-4">{{ hobby.trim() }}</li>
      } @empty {
        <li class="italic opacity-50">No Hobbies Listed. A boring astronaut.</li>
      }
    </ul>
  </section>

  <section>
    <h2 class="text-xl font-bold">Contact</h2>
    <address class="grid gap-2">
      <dl>
        <dd>Email:</dd>
        <dt>
          <a href="mailto:{{ applicant().email }}">{{ applicant().email }}</a>
        </dt>
      </dl>
      <dl>
        <dd>Phone:</dd>
        <dt>
          <a href="tel:{{ applicant().phone_number }}">{{ applicant().phone_number }}</a>
        </dt>
      </dl>
    </address>
  </section>

  <section>
    <h2>Created At</h2>
    <time [attr.datetime]="applicant().created_at">{{ applicant().created_at | date }}</time>

    @if (applicant().updated_at) {
      <p class="italic opacity-50">(updated: {{ applicant().updated_at | date }})</p>
    }
  </section>
</main>
