<form
  class="contents"
  [formGroup]="form"
  (submit)="submit()"
>
  <fieldset
    class="grid gap-6 h-dvh place-content-center snap-start timeline-view animation-range-end-contain animation-range-start-0 animate-fade-in-scale"
  >
    <legend class="contents">
      <span class="text-2xl block">Astronaut Identity File</span>
      <span class="block"
        >Every explorer begins with a name. Record yours carefully — history will remember it among the stars.</span
      >
    </legend>

    <iisa-astronaut-identity class="contents"></iisa-astronaut-identity>

    <a
      [routerLink]="[]"
      tabindex="1"
      fragment="communication-protocols"
      class="button button__light justify-self-end"
      >Continue</a
    >
  </fieldset>

  <fieldset
    id="communication-protocols"
    class="grid gap-6 h-dvh place-content-center snap-start timeline-view animation-range-end-contain animation-range-start-0 animate-fade-in-scale"
  >
    <legend class="contents">
      <span class="block text-2xl">Communication Protocols</span>
      <span class="block"
        >Mission Control must maintain contact. Provide coordinates so we can reach you across Earth… and beyond.</span
      >
    </legend>

    <iisa-communication-protocols class="contents"></iisa-communication-protocols>

    <a
      [routerLink]="[]"
      tabindex="1"
      fragment="personal-orbit"
      class="button button__light justify-self-end"
      >Continue</a
    >
  </fieldset>

  <fieldset
    id="personal-orbit"
    class="grid gap-6 h-dvh place-content-center snap-start timeline-view animation-range-end-contain animation-range-start-0 animate-fade-in-scale"
  >
    <legend class="contents">
      <span class="block text-2xl">Personal Orbit</span>
    </legend>

    <iisa-personal-orbit class="contents"></iisa-personal-orbit>

    <a
      [routerLink]="[]"
      tabindex="1"
      fragment="mission-suitability"
      class="button button__light justify-self-end"
      >Continue</a
    >
  </fieldset>

  <fieldset
    id="mission-suitability"
    class="grid gap-6 h-dvh place-content-center snap-start timeline-view animation-range-end-contain animation-range-start-0 animate-fade-in-scale"
  >
    <legend class="contents">
      <span class="block text-2xl">Mission Suitability</span>
    </legend>

    <iisa-personal-statement class="contents"></iisa-personal-statement>

    <button
      type="submit"
      class="button button__bold place-self-center capitalize"
      [class.opacity-50]="form.invalid"
    >
      Launch Application
    </button>
  </fieldset>
</form>
