<form
  class="contents"
  [formGroup]="form"
  (submit)="submit()"
>
  <fieldset
    class="grid gap-6 h-dvh place-content-center snap-start timeline-view animation-range-end-contain animation-range-start-0 animate-fade-in-scale"
  >
    <legend class="contents">
      <span class="text-2xl block">Astronaut Identity File</span>
      <span class="block"
        >Every explorer begins with a name. Record yours carefully — history will remember it among the stars.</span
      >
    </legend>

    <iisa-astronaut-identity class="contents"></iisa-astronaut-identity>

    <a
      [routerLink]="[]"
      tabindex="1"
      fragment="communication-protocols"
      class="button button__light justify-self-end"
      >Continue</a
    >
  </fieldset>

  <fieldset
    id="communication-protocols"
    class="grid gap-6 h-dvh place-content-center snap-start timeline-view animation-range-end-contain animation-range-start-0 animate-fade-in-scale"
  >
    <legend class="contents">
      <span class="block text-2xl">Communication Protocols</span>
      <span class="block"
        >Mission Control must maintain contact. Provide coordinates so we can reach you across Earth… and beyond.</span
      >
    </legend>

    <iisa-communication-protocols class="contents"></iisa-communication-protocols>

    <a
      [routerLink]="[]"
      tabindex="1"
      fragment="personal-orbit"
      class="button button__light justify-self-end"
      >Continue</a
    >
  </fieldset>

  <fieldset
    id="personal-orbit"
    class="grid gap-6 h-dvh place-content-center snap-start timeline-view animation-range-end-contain animation-range-start-0 animate-fade-in-scale"
  >
    <legend class="contents">
      <span class="block text-2xl">Personal Orbit</span>
    </legend>

    <iisa-personal-orbit class="contents"></iisa-personal-orbit>

    <a
      [routerLink]="[]"
      tabindex="1"
      fragment="mission-suitability"
      class="button button__light justify-self-end"
      >Continue</a
    >
  </fieldset>

  <fieldset
    id="mission-suitability"
    class="grid gap-6 h-dvh place-content-center snap-start timeline-view animation-range-end-contain animation-range-start-0 animate-fade-in-scale"
  >
    <legend class="contents">
      <span class="block text-2xl">Mission Suitability</span>
    </legend>

    <iisa-personal-statement class="contents"></iisa-personal-statement>

    <label class="flex items-baseline gap-2">
      <input
        type="checkbox"
        checked
      />
      <span class="text-sm"
        >I have read and accept the Mission Control
        <button
          (click)="dialog.showModal()"
          class="underline cursor-pointer hover:brightness-110 text-surface-3"
        >
          Terms of Service</button
        ><br />(and understand this is all imaginary).</span
      >
    </label>

    <button
      type="submit"
      class="button button__bold place-self-center capitalize"
      [class.opacity-50]="form.invalid"
    >
      Launch Application
    </button>
  </fieldset>
</form>

<dialog
  #dialog
  closedby="any"
  class="place-self-center open:grid grid-rows-[auto_1fr] not-open:backdrop:opacity-0 backdrop:transition-opacity open:scale-100 open:opacity-100 starting:open:scale-80 scale-80 starting:open:opacity-0 opacity-0 transition-all transition-discrete bg-canvas border-surface-1 border max-w-md max-h-[80vh] backdrop:bg-canvas/50 p-8 rounded-xl shadow-xl"
>
  <header class="py-4">
    <h1 class="text-xl font-bold">Mission Control Terms of Service</h1>
  </header>

  <main
    markdown
    src="terms-of-service.md"
    class="grid gap-4 overflow-auto *:[ol]:grid *:[ol]:gap-4"
  ></main>

  <footer class="flex justify-end pt-4">
    <button
      (click)="dialog.close()"
      class="button button__bold"
      autofocus
    >
      understood
    </button>
  </footer>
</dialog>
