<label
  class="place-self-center place-items-center place-content-center rounded-full cursor-pointer opacity-80 hover:opacity-100 transition-opacity leading-0 focus-within:outline-2 outline-offset-6 focus-within:outline-offset-1 input size-32 outline-surface-4"
>
  @if (avatar.loading()) {
    <mat-icon
      class="!block"
      svgIcon="spinner"
    ></mat-icon>
  } @else if (avatar.error()) {
    <lucide-icon
      name="triangle-alert"
      class="block text-red-400 size-8"
      [matTooltip]="avatar.error()"
    ></lucide-icon>
  } @else if (avatarUrl()) {
    <img
      [src]="avatarUrl()"
      alt=""
      class="object-cover aspect-square rounded-full"
    />
  } @else {
    <mat-icon
      class="!size-full"
      svgIcon="Astronaut"
    ></mat-icon>
  }

  <input
    type="file"
    class="sr-only"
    accept="image/*"
    [(ngModel)]="avatar.value"
    [ngModelOptions]="{ standalone: true }"
  />
</label>

<label class="group/field relative">
  <span class="group-has-required/field:after:content-['_*'] after:text-red-500">Full Name</span>
  <input
    type="text"
    [iisaErrorMessage]="error"
    inputmode="latin-name"
    formControlName="full_name"
    placeholder="Israel Israeli"
    class="input"
  />
</label>

<label class="group/field relative">
  <span class="group-has-required/field:after:content-['_*'] after:text-red-500">Date Of Birth</span>
  <input
    type="date"
    placeholder="01/10/2025"
    [iisaErrorMessage]="error"
    inputmode="date"
    formControlName="date_of_birth"
    class="input"
  />
</label>

<ng-template
  #error
  let-error
>
  <span class="text-red-500 text-sm italic absolute top-0 end-0">{{ error }}</span>
</ng-template>
