<main class="grid gap-2">
  <h1 class="text-9xl font-bold">Blast off!</h1>
  <p>Your application has reached IISA Mission Control.</p>
</main>

<picture>
  @if (colorScheme.theme() === 'dark') {
    <source srcset="rocket-launch-dark.avif" type="image/avif" />
    <source srcset="rocket-launch-dark.webp" type="image/webp" />
  } @else {
    <source srcset="rocket-launch-light.avif" type="image/avif" />
    <source srcset="rocket-launch-light.webp" type="image/webp" />
  }

  <img
    src="rocket-launch-dark.png"
    alt=""
    class="object-cover size-full mask-radial-at-center mask-radial-from-20% mask-radial-to-75%" />
</picture>
