<nav class="flex gap-4 p-4 items-center z-10 w-full">
  <a
    routerLink="/"
    class="grid place-content-center"
  >
    <mat-icon
      class="!size-12"
      svgIcon="IISA"
    ></mat-icon>
  </a>

  <span class="m-auto"></span>

  <a
    class="button button__light"
    routerLink="/mission-control"
    >Command Center</a
  >

  <button
    (click)="colorScheme.toggle()"
    (dblclick)="colorScheme.mode.set('system')"
    class="button"
    name="toggle-color-scheme"
  >
    @if (colorScheme.mode() === 'dark') {
      <lucide-icon
        class="align-middle"
        name="sun"
      ></lucide-icon>
    } @else if (colorScheme.mode() === 'light') {
      <lucide-icon
        class="align-middle"
        name="moon"
      ></lucide-icon>
    } @else {
      <lucide-icon
        class="align-middle"
        name="sun-moon"
      ></lucide-icon>
    }
  </button>
</nav>

<router-outlet hidden />
