<article
  class="flex flex-wrap *:grow *:h-100 *:shrink-0 gap-4 has-hover:*:not-hover:opacity-80 *:transition-opacity *:duration-700 *:rounded *:overflow-auto">
  <section
    class="basis-90 bg-surface-1 p-8 relative isolate rounded supports-[corner-shape:squircle]:rounded-2xl corner-squircle grid">
    <hgroup class="grid gap-4 place-content-center overflow-clip h-full max-w-60 self-start">
      <h2 class="text-3xl font-bold">Candidate Review Mode</h2>
      <p>Enter detailed review mode to inspect each applicant’s mission dossier one at a time.</p>
    </hgroup>

    <figure class="place-self-end">
      <picture>
        <source srcset="crew.avif" type="image/avif" />
        <img
          class="absolute top-0 end-0 mask-radial-at-top-right object-cover mask-radial-from-0% mask-radial-to-60% h-full -z-10"
          src="crew.webp"
          alt="" />
      </picture>

      <a routerLink="/candidate-review" class="button button__bold">Begin Review</a>
    </figure>
  </section>

  <iisa-map class="basis-90 rounded supports-[corner-shape:squircle]:rounded-2xl corner-squircle"></iisa-map>

  <section class="basis-90">
    <canvas
      class="bg-surface-1 p-4 rounded supports-[corner-shape:squircle]:rounded-2xl corner-squircle"
      iisaAgeChart></canvas>
  </section>

  <section class="basis-90">
    <canvas
      class="bg-surface-1 p-4 rounded supports-[corner-shape:squircle]:rounded-2xl corner-squircle"
      iisaDateChart></canvas>
  </section>

  <section class="basis-90">
    <canvas
      class="bg-surface-1 p-4 rounded supports-[corner-shape:squircle]:rounded-2xl corner-squircle"
      iisaHobbyChart></canvas>
  </section>

  <iisa-applicants-table
    class="bg-surface-1 basis-[min(500px,100%)] rounded overflow-auto grid"></iisa-applicants-table>
</article>
