@import 'maplibre-gl/dist/maplibre-gl.css';
@import 'tailwindcss';
@import './styles/fonts.css';
@import './styles/theme.css';
@import './styles/utilities.css';
@import './styles/components.css';
@import './styles/animation-timeline.css';

:root {
  color-scheme: dark light;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  scroll-snap-stop: always;

  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}

body {
  min-height: 100dvh;
}
