@import 'maplibre-gl/dist/maplibre-gl.css';
@import 'tailwindcss';
@import './styles/fonts.css';
@import './styles/theme.css';
@import './styles/utilities.css';
@import './styles/components.css';
@import './styles/animation-timeline.css';

:root {
  color-scheme: dark light;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-snap-stop: always;
}

body {
  min-height: 100dvh;
}
