<header class="h-dvh snap-center place-content-center gap-12 text-center grid">
  <h1 class="place-self-center text-4xl sm:text-6xl">Join Israel’s First All-Israeli Space Flight</h1>
  <p class="text-xl opacity-70">
    Be part of history with the IISA. We’re opening public registration for pioneers ready to carry the Israeli spirit
    beyond Earth. 🌍✨
  </p>

  <a class="place-self-center text-xl button button__bold" [routerLink]="[]" fragment="form">Register</a>
  <a class="place-self-center text-xl button button__bold" [routerLink]="['/edit']">Edit</a>
</header>

<iisa-registration-form id="form" class="block"></iisa-registration-form>

<picture>
  @if (colorScheme.theme() === 'dark') {
    <source srcset="earth.avif" type="image/avif" />
    <source srcset="earth.webp" type="image/webp" />
  } @else {
    <source srcset="earth-light.avif" type="image/avif" />
    <source srcset="earth-light.webp" type="image/webp" />
  }

  <img
    src="earth.webp"
    alt=""
    class="fixed inset-0 size-full object-cover mask-b-from-0 mask-b-to-50% !max-w-none -z-10 scale-150 origin-top timeline-scroll animate-scale-in opacity-70 animation-reverse" />
</picture>
