<header class="h-[calc(100dvh-12rem)] place-content-center gap-12 text-center grid">
  <h1 class="place-self-center text-4xl sm:text-6xl">Israel’s Next Giant Leap</h1>
  <p class="text-xl opacity-70">
    The IISA is opening registration for pioneers who dare to take the Israeli spirit beyond Earth.
  </p>

  <div class="flex gap-2 text-xl place-self-center">
    <a class="button button__bold" [routerLink]="[]" fragment="astronaut-identity-file">New Application</a>
    <a class="button button__light" [routerLink]="['/edit']">Edit Application</a>
  </div>
</header>

<iisa-registration-form id="astronaut-identity-file" class="block"></iisa-registration-form>

<picture>
  @if (colorScheme.theme() === 'dark') {
    <source srcset="earth.avif" type="image/avif" />
    <source srcset="earth.webp" type="image/webp" />
  } @else {
    <source srcset="earth-light.avif" type="image/avif" />
    <source srcset="earth-light.webp" type="image/webp" />
  }

  <img
    src="earth.webp"
    alt=""
    class="fixed inset-0 h-screen w-screen object-cover mask-b-from-25% mask-b-to-65% !max-w-none -z-10 scale-150 origin-top timeline-scroll animate-scale-in opacity-70 animation-reverse" />
</picture>
