<header class="h-screen snap-center place-content-center gap-12 text-center grid">
  <h1 class="place-self-center text-4xl sm:text-6xl">Join Israel’s First All-Israeli Space Flight</h1>
  <p class="text-xl opacity-70">
    Be part of history with the IISA. We’re opening public registration for pioneers ready to carry the Israeli spirit
    beyond Earth. 🌍✨
  </p>

  <a
    class="place-self-center cursor-pointer text-xl bg-primary px-4 py-2 rounded-xl"
    [routerLink]="[]"
    fragment="registration-form"
    >Register</a
  >
</header>

<iisa-registration-form id="registration-form" class="block"></iisa-registration-form>
